<div class="about">
	<div class="container">
		<h2>About US</h2>
		<div class="about-text">
			<div class="col-md-6 about-text-left">
				<img src="/assets/dist/user/images/g9.jpg" class="img-responsive" alt="" />
			</div>
			<div class="col-md-6 about-text-right">
				<h4>Thông tin chung về Tech Game</h4>
				<p style="color: #d10505">
					<strong>Teach Game </strong>
					<span style="color: #999"> là nơi bạn có thể tìm thấy những tựa Game nổi tiếng và các tin tức hàng đầu về công nghệ luôn được cập nhật mới nhất
						nhanh nhất. Ở đây tập hợp hàng nghìn loại game đa dạng thể loại: game chiến thuật, game nhập vai, game đối kháng, game
						trí tuệ, các mini game,... vô cùng phong phú, hấp dẫn cho mọi lựa tuổi trải nghiệm.
						<p>Không chỉ dừng ở việc cung cấp các thông tin về nguồn game, khi tới với
							<span style="color: #d10505">
								<strong>Teach Game </strong>
							</span> người dùng còn được mở rộng kiến thức về lĩnh vực
							<span style="color: #0048fd">
								<strong> Công nghệ thông tin</strong>
							</span> trên thế giới.
							<span style="color: #d10505">
								<strong>Teach Game </strong>
							</span>
							giúp cho người dùng tiếp cận được với các tin tức mới nhất về công nghệ Internet, tin tức về các tiện ích mới, khoa học,
							giải trí, thiết bị an ninh,....Ngoài ra, người dùng có thể tìm được các thông tin tuyển dụng của các công ty trong
							lĩnh vực
							<span style="color: #0048fd">
								<strong> Công nghệ thông tin</strong>
							</span>.
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="team-top">
			<h3>
				<br> Our Team
				<br> </h3>
			<div class="row" style="margin-top: 30px">
				<div class="col-md-offset-2 col-md-8">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-4 col-md-3">
									<center>
										<img class="avatar" src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-9/22366365_1633244620079762_4354033975544145922_n.jpg?oh=de17f8b6075fdccd846cdacbbcd07e71&oe=5A8311B0"
										 width="200" height="200" border="0" align="center" class="img-circle" />
										<h4> 1412579</h4>
										<h3 class="media-heading">Vũ Minh Trí
											<br>
											<small>HCMUS</small>
										</h3>
									</center>
								</div>
								<div class="col-sm-8 col-md-9" style="margin-top: 20px">

									<p>
										<strong>Skills: </strong>
										<span class="label label-warning">HTML/CSS</span>
										<span class="label label-info">Database/SQL</span>
										<span class="label label-info">Microsoft Office</span>
										<span class="label label-success">Bootstrap</span>
										<h4>
									</p>
									<hr>
									<center>
										<p class="text-left">
											<strong>About me: </strong>
											<br> Là người hòa đồng, thích du lịch, nghe nhạc. Làm gì cũng chậm hơn so với người khác. Nhưng sẽ cố gắng để đạt
											được những gì mình mong muốn! ^^
											<br> Châm ngôn lập trình: <i>"Nếu debug là quá trình loại bỏ bug trong phần mềm, thì code chính là quá trình tạo ra bug."</i></p>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 30px">
				<div class="col-md-offset-2 col-md-8">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-4 col-md-3">
									<center>
										<img class="avatar" src="/assets/user/images/about/15124xx.jpg"
										 width="200" height="200" border="0" align="center" class="img-circle" />
										<h4> 15124xx</h4>
										<h3 class="media-heading">Dương Trần Thái Sơn
											<br>
											<small>HCMUS</small>
										</h3>
									</center>
								</div>
								<div class="col-sm-8 col-md-9" style="margin-top: 20px">

									<p>
										<strong>Skills: </strong>
										<span class="label label-warning">C/C++</span>
										<span class="label label-info">Database/SQL</span>
										<span class="label label-success">Photoshop</span>
										<h4>
									</p>
									<hr>
									<center>
										<p class="text-left">
											<strong>About me: </strong>
											<br> Là chúa ham ăn, ham ngủ, thích chơi game, thích đi du lịch xa một mình. Môn thể thao yêu thích bắn bi, nhảy dây. Khi team căng thẳng thì sẽ làm trò hề cho mọi người vui, giải tỏa áp lực công việc. Ahihi
											<br> Châm ngôn lập trình: <i>"Cho người ta một phần mềm, bạn sẽ làm họ bực mình một ngày. Dạy người ta lập trình, họ sẽ bực mình cả đời."</i>
										</p>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 30px">
				<div class="col-md-offset-2 col-md-8">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-4 col-md-3">
									<center>
										<img class="avatar" src="/assets/user/images/about/1512472.jpg"
										 width="200" height="200" border="0" align="center" class="img-circle" />
										<h4> 1512472</h4>
										<h3 class="media-heading">Phạm Tĩnh Hồng Tấn Tài
											<br>
											<small>HCMUS</small>
										</h3>
									</center>
								</div>
								<div class="col-sm-8 col-md-9" style="margin-top: 20px">

									<p>
										<strong>Skills: </strong>
										<span class="label label-warning">C/C++/C#</span>
										<span class="label label-info">Java</span>
										<span class="label label-info">Phoptoshop/Lightroom</span>
										<span class="label label-success">SQL</span>
										<h4>
									</p>
									<hr>
									<center>
										<p class="text-left">
											<strong>About me: </strong>
											<br>Tính tình vui vẻ, hòa đồng, lầy lội, thích đọc sách ngôn tình, nghe nhạc sến. Yêu cái đẹp, thích chụp hình. Sẵn sàng giúp đỡ mọi người khi họ cần đến mình.
											<br>Châm ngôn lập trình: <i>"Chín người đàn bà không thể đẻ ra một đứa trẻ trong vòng một tháng"</i></p>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 30px">
				<div class="col-md-offset-2 col-md-8">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-4 col-md-3">
									<center>
										<img class="avatar" src="/assets/user/images/about/1512523.jpg"
										 width="200" height="200" border="0" align="center" class="img-circle" />
										<h4> 1512523</h4>
										<h3 class="media-heading">Nguyễn Hiếu Thắng
											<br>
											<small>HCMUS</small>
										</h3>
									</center>
								</div>
								<div class="col-sm-8 col-md-9" style="margin-top: 20px">

									<p>
										<strong>Skills: </strong>
										<span class="label label-warning">NodeJS/ReactJS</span>
										<span class="label label-info">Java</span>
										<span class="label label-info">After Effect</span>
										<span class="label label-success">Bootstrap</span>
										<h4>
									</p>
									<hr>
									<center>
										<p class="text-left">
											<strong>About me: </strong>
											<br> Là người trầm tính, thích ăn kẹo mút. Môn thể thao ưa thích tập Gym, bơi lội. Làm việc có trách nhiệm không ngại khó khăn.
											<br> Châm ngôn lập trình: <i>"Hãy viết code như thể người maintanin là một đứa sát nhân điên cuồng biết địa chỉ nhà của bạn."</i></p>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 30px">
				<div class="col-md-offset-2 col-md-8">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-4 col-md-3">
									<center>
										<img class="avatar" src="/assets/user/images/about/1512555.jpg"
										 width="200" height="200" border="0" align="center" class="img-circle" />
										<h4> 1512555</h4>
										<h3 class="media-heading">Bùi Võ Quốc Thống
											<br>
											<small>HCMUS</small>
										</h3>
									</center>
								</div>
								<div class="col-sm-8 col-md-9" style="margin-top: 20px">

									<p>
										<strong>Skills: </strong>
										<span class="label label-warning">C/C++/C#</span>
										<span class="label label-info">HTML/CSS</span>
										<span class="label label-success">Photoshop</span>
										<h4>
									</p>
									<hr>
									<center>
										<p class="text-left">
											<strong>About me: </strong>
											<br>Là người cởi mở, chịu khó, thích lắng nghe tâm sự mọi người. Yêu âm nhạc, thích hiphop, thích đọc truyện trinh thám, thích đi du lịch. Có tinh thần trách nhiệm trong công việc
											<br> Châm ngôn lập trình: <i>"Lập trình cũng như làm tình, một bước sa chân là bạn phải chịu trách nhiệm suốt đời."</i></p>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</div>