<div class="about"> 
		<div class="container">
			<h2>About US</h2>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="/assets/dist/user/images/g9.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					<h4>Thông tin chung về Tech Game</h4>
					<p style = "color: #d10505"> <strong>Teach Game </strong><span style = "color: #999" > là nơi bạn có thể tìm thấy những tựa Game 
						nổi tiếng và các tin tức hàng đầu về công nghệ luôn được cập nhật mới nhất nhanh nhất. Ở đây tập hợp hàng nghìn 
						loại game đa dạng thể loại: game chiến thuật, game nhập vai, game đối kháng, game trí tuệ, các mini game,... vô
						cùng phong phú, hấp dẫn cho mọi lựa tuổi trải nghiệm.
					<p>Không chỉ dừng ở việc cung cấp các thông tin về nguồn game, khi tới với <span style ="color: #d10505"><strong>Teach Game </strong></span> người dùng còn được
					mở rộng kiến thức về lĩnh vực <span style = "color: #0048fd" > <strong> Công nghệ thông tin</strong></span> trên thế giới. <span style ="color: #d10505"><strong>Teach Game </strong></span>
					giúp cho người dùng tiếp cận được với các tin tức mới nhất về công nghệ Internet, tin tức về các tiện ích mới, khoa học, giải trí, thiết bị an ninh,....Ngoài ra, người dùng có thể tìm được
					các thông tin tuyển dụng của các công ty trong lĩnh vực <span style = "color: #0048fd" > <strong> Công nghệ thông tin</strong></span>.
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="team-top">
			 	<h3> <br> Our Team <br> </h3>
			</div>
		</div>
		
</div>